@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-font: "Roboto", sans-serif;
  --lightmode-font-color: #2d2d2d;
  --lightmode-nav-bg-color: #FFFFFF;
  --lightmode-body-bg-color: #e7e7e7;
  --darkmode-front-color: #FFFFFF;
  --darkmode-bg-color: #2d2d2d;
  --accent-color-1: rgb(170, 97, 181);
}

.Sidebar {
    height: 100%;
    width: 17.5vw;
    background-color: var(--lightmode-nav-bg-color);
    font-family: var(--main-font);
}
.SidebarUL {
    height: auto;
    width: auto;
    padding: 0;
}
.SidebarUL .SidebarLI {
    height: 2.5rem;
    width: 100%;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: var(--lightmode-font-color);
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
}
.SidebarUL .SidebarLI:hover {
    cursor: pointer;
    color: var(--accent-color-1);
    border-left: 5px solid var(--accent-color-1);
    /*background-color: var(--lightmode-body-bg-color);*/
}
.SidebarUL #active {
    color: var(--accent-color-1);
    border-left: 5px solid var(--accent-color-1);
    /*background-color: var(--lightmode-body-bg-color);*/
}
.SidebarLI #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}
.SidebarLI #title {
    flex: 70%;
}

.neptune {
    height: 3rem;
    width: 100%;
    margin: 0;
    padding: 0 0 8vh 2vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.neptune img {
    max-width: 20%;
    margin: 0;
    padding: 0;
    height: auto;
}

.profile {
    height: auto;
    width: auto;
    padding: 0 0 5vh 0;
}
.profile .SidebarHead {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--lightmode-font-color);
    justify-content: center;
    align-items: center;
}
.SidebarHead p {
    font-family: var(--main-font);
    margin: 0;
    width: 70%;
    font-size: 1rem;
    overflow-wrap: break-word;
}
.SidebarProfilePicture {
    margin-bottom: 1vh;
}
.SidebarProfilePicture img {
    max-width: 33%;
    height: auto;
    border-radius: 25%;
}