@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --main-font: "Roboto", sans-serif;
  --lightmode-font-color: #2d2d2d;
  --lightmode-tile-bg-color: #FFFFFF;
  --lightmode-body-bg-color: #e7e7e7;
  --darkmode-front-color: #FFFFFF;
  --darkmode-bg-color: #2d2d2d;
  --accent-color-1: rgb(170, 97, 181);
}

.Tile {
  height: 90%;
  width: 82.5%;
  display: flex;
  flex-direction: row;
  margin: 2.5% 2.5% 0 2.5%;
}
.Tile h1 {
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.TileMid {
  height: 100%;
  width: 70%;
  overflow-y: scroll;
}

.TileRight {
  height: 90%;
  width: 30%;
  padding-top: 5%;
  overflow-y: scroll;
}
.TileRight p.rightTileTitle {
  width: auto;
  padding-left: 0;
  font-size: 1.25rem;
  color: var(--lightmode-font-color);
  margin: 0 0 5px 0;
  font-weight: 400;
}
.TileRightBox {
  height: auto;
  width: 80%;
  padding: 4.5% 2% 3% 4.5%;
  margin: 5% 5% 0 0;
  background-color: var(--lightmode-tile-bg-color);
  font-family: var(--main-font);
  border-radius: 10px;
  box-shadow: 3px 3px 8px #c2c2c2;
}
