{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>neptune</title>
</head>
<body>

    <header>
        <div class="flex-containerHeader">
            <h1>neptune.</h1>
            <ul>
                <li><a href="#feed" style="opacity: 1;">feed</a></li>
                <li><a href="#suggestions" style="opacity: 0.5;">suggestions</a></li>
                <li><a href="#analytics" style="opacity: 0.5;">analytics</a></li>
                <li><a href="#analytics" style="opacity: 0.5; font-weight: bolder;">buy</a></li>
            </ul>
            <p><a href="#login">Log In</a></p>
        </div>
    
        <div class="flex-containerHeader" style="justify-content: center;">
            <h1>neptune. <br> <span style="font-size:x-large; font-weight: lighter;">Making Marketing easy again.</span></h1>
            <div class="box" style="background-color: #110b1a; box-shadow: 0 0 20px rgb(184, 184, 184); margin: 5vh 2vw 5vh;"><p>PLACEHOLDER</p></div>
        </div>

    </header>
    
    <div class="flex-containerBody">
        <p style="padding-top: 6vh;">What makes <span style="color: #0f1137; font-size: larger;">neptune.</span> special?</p>
    </div>

    <div class="flex-containerBody">
        <a href="#easy" style="text-decoration: none; color: var(--body-font-color);"><div class="box"><p>EASY</p></div></a>
        <a href="#affordable" style="text-decoration: none; color: var(--body-font-color);"><div class="box"><p>AFFORDABLE</p></div></a>
        <a href="#effective" style="text-decoration: none; color: var(--body-font-color);"><div class="box"><p>EFFECTIVE</p></div></a>
    </div>

</body>
</html>