{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>neptune</title>
</head>
<body>

    <header>

        <div class="flex-containerHeader">

            <h1>neptune</h1>
            <p><a href="#login">LogIn</a></p>

        </div>

    </header>
    
    <div class="flex-containerBody">

        <nav>
            <ul>
                <li><a href="#feed">feed</a></li>
                <li><a href="#suggestions">suggestions</a></li>
                <li><a href="#analytics">analytics</a></li>
            </ul>
        </nav>
    
        <section class="content">
            <p>Test</p>
        </section>

    </div>

</body>
</html>