@font-face {
    font-family: Roboto, sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap);
}

:root {
    --main-bg-color: #3b3355;
    --main-accent-color: #FFFFFF;
    --main-font-color: #FFFFFF;
    --main-border-color: #161f22;
    --main-hover-color: #999;
    --main-palette-color-1: #CE96A6;
    --main-palette-color-2: #3b3355;
    --main-palette-color-3: #5D5D81;
    --main-palette-color-4: #A3CEF1;
    --main-palette-color-5: #F9F9ED;
}

::selection {
    color: var(--main-bg-color);
    background-color: var(--main-font-color);
}

html {
    height: 100%;
    background-color: var(--main-palette-color-2);
}

body {
    margin: 0;
    padding: 0;
}

header {
    font-family: Roboto, sans-serif;
    background-color: var(--main-palette-color-2);
    color: var(--main-font-color);
    width: 100%;
    padding-left: 2.5%;
}
.flex-containerHeader {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.flex-containerHeader > h1 {
    width: 20%;
    margin: .5vh 0 1vh 0;
    float: left;
}
.flex-containerHeader > p {
    width: 10%;
    margin: 1.7vh 0 1vh 0;
    float: left;
}
.flex-containerHeader > p a {
    text-decoration: none;
    color: var(--main-font-color);
}
.flex-containerHeader > p a:hover {
    background-color: none;
    color: var(--main-hover-color);
}


.flex-containerBody {
    display: flex;
    justify-content: flex-start;
}
.flex-containerBody > nav {
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    color: var(--main-font-color);
    width: 15%;
    margin: 0 0 0 0;
    padding: 0 0 0 1.5%;
    float: left;
}
.flex-containerBody > section {
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    background-color: var(--main-font-color);
    color: var(--main-hover-color);
    width: 70%;
    margin: 5% 0 0 0;
    padding: 0 0 0 1.5%;
    float: left;
}

.flex-containerPost {
    background-color: var(--main-bg-color);
    justify-content: center;
}
.flex-containerPost > div.post {
    width: 80%;
}

.flex-containerNav {
    display: flex;
    align-items: center;
    height: 100vh;
}
.flex-containerNav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.flex-containerNav > ul > li {
    padding: 0.5vh 0 0.5vh 0;
}
.flex-containerNav > ul > li a {
    text-decoration: none;
    color: var(--main-font-color);
}
.flex-containerNav > ul > li a:hover {
    background-color: none;
    color: var(--main-hover-color);
}